body {
    margin: 0;
    padding:0;
    font-family: centuary 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container .navbar{
    background-color: black ;
    padding: 10px;
    text-align: center;
  } 
ul{
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
  text-align: center;
}
 

.navbar li{
    float: left;
    
}

li a{
    display: block;
   color: white;
   text-align: center;
   padding: 14px 16px;
   text-decoration: none;

}
a:hover{
    background-color: orange;
    color: black;
    border-radius: 15px;
}

.body{
    display: flex;
}

.body .text{
    padding: 100px;
    margin-right: 10px;
    margin-left: 30px;

}

h1 span {
    color: orange;
    font-size: 50px;
}

.image{
    padding: 100px;
    margin-right:100px ;

}
.image img{
    border-radius: 50px ;
    width: 300px;
    height: auto;
       
}

.text button{
    border: 1px solid orange;
    display: inline-block;
    text-align: center;
    background-color: black;
    color: white;
    padding: 10px 20px;
    font-size: 16px;
    border-radius:15px ;
}
button:hover{
    background-color: orange;
    color: black;
}